/**
 * This is a Less stylesheet.
 * If you aren't already,
 * and if you need additional context,
 * please check out /style.less;
 * the converted <style> element
 * doesn't exactly preserve most of it.
 **/

@import "global/style/console.less";

@font-face {
	font-family: Topaz;
	src: url(font/TopazPlus_a500_v1.0.ttf) format("truetype");
}
@font-face {
	font-family: Atari-vector;
	src: url(font/atari_vector.ttf) format("truetype");
}
@font-face {
	font-family: Tunacan;
	src: url(font/Tunacan.ttf) format("truetype");
}

/*** Pallete ***/

@main:    var(--accent-main);
@light-4: var(--accent-light-4);
@light-3: var(--accent-light-3);
@light-2: var(--accent-light-2);
@light-1: var(--accent-light-1);
@dark-1:  var(--accent-dark-1);
@dark-2:  var(--accent-dark-2);
@dark-3:  var(--accent-dark-3);
@dark-4:  var(--accent-dark-4);
@dark-5:  var(--accent-dark-5);
@dark-6:  var(--accent-dark-6);

.tovar() {
	--accent-light-4: @4;
	--accent-light-3: @3;
	--accent-light-2: @2;
	--accent-light-1: @1;
	--accent-main:    @0;
	--accent-dark-1:  @-1;
	--accent-dark-2:  @-2;
	--accent-dark-3:  @-3;
	--accent-dark-4:  @-4;
	--accent-dark-5:  @-5;
	--accent-dark-6:  @-6;
}


body[data-pallete="Generic lighten/darken"] {
	@x:  #e9263d;
	@4:  lighten(@x, 80%, relative);
	@3:  lighten(@x, 60%, relative);
	@2:  lighten(@x, 40%, relative);
	@1:  lighten(@x, 20%, relative);
	@0:  @x;
	@-1: darken( @x, 20%, relative);
	@-2: darken( @x, 40%, relative);
	@-3: darken( @x, 60%, relative);
	@-4: darken( @x, 70%, relative);
	@-5: darken( @x, 80%, relative);
	@-6: darken( @x, 90%, relative);
	.tovar();
}

body[data-pallete="Better Hue Shift"] {
	@x:  #e92650;
	@4:  lighten(spin(@x,  08), 80%, relative);
	@3:  lighten(spin(@x,  06), 60%, relative);
	@2:  lighten(spin(@x,  04), 40%, relative);
	@1:  lighten(spin(@x,  02), 20%, relative);
	@0:  @x;
	@-1: darken( spin(@x, -05), 20%, relative);
	@-2: darken( spin(@x, -10), 40%, relative);
	@-3: darken( spin(@x, -15), 60%, relative);
	@-4: darken( spin(@x, -20), 70%, relative);
	@-5: darken( spin(@x, -25), 80%, relative);
	@-6: darken( spin(@x, -30), 90%, relative);
	.tovar();
}

body {
	padding: 100px 50px;
	margin: 0;

	background-image: linear-gradient(to bottom right, @dark-4, 70%, @main);
	background-size: cover;
	background-attachment: fixed;

	color: white;

	font-family: "IBM Plex Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

	a {
		text-decoration: underline;
		color: white;
		&:hover {
			background-color: white;
			color: @dark-4;
		}
		&:active {
			background-color: @dark-4;
			color: white;
		}
	}

	blockquote {
		margin-left: 1em;
		border-left: 3px solid @light-1;
		padding-left: calc(1em - 3px);
		color: @light-3;
	}

	&::selection {
		background-color: white;
		color: @dark-4;
	}

	h1 { font-size: 64px; }
	h2 { font-size: 32px; }
	h3 { font-size: 16px; }
	h4 { font-size: 12px; }
	h5 { font-size: 10px; }
	h6 { font-size: 08px; }

	p { font-size: 16px; }

	[data-copy] {
		cursor: pointer;
	}
	
// BOYMODING [[
	&.sensitive {
		[data-sensitive="false"] { display: none !important; }
	}
	&:not(.sensitive) {
		[data-sensitive="true"] { display: none !important; }
		#grid #welcome div.pfp {
			background-image: url(global/pfp/chiptumor.png);
			display: block;
		}
	}
}
// ]]

#title {
	display: none;

	z-index: 3;
	padding: 4px 6px;
	position: fixed;
	max-width: 200px;
	line-break: auto;

	background-image: linear-gradient(to bottom right, @dark-6, 70%, @dark-2);
	background-size: cover;
	background-attachment: fixed;

	border: solid 1px @main;
	@radius: 8px;

	span.title {
		font-size: 16px;
		display: block;
	}
	span.desc {
		font-size: 12px;
		display: block;
		color: @light-3;
	}
}

#menubar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 28px;
	z-index: 2;
	background-image: linear-gradient(to bottom, @dark-5, @dark-4);

	display: flex;

	div.menu {
		@vertical-padding: 6px;
		@horizontal-padding: 2px;
		@dropdown-padding: 20px;

		display: flex;
		flex-direction: row;
		align-content: flex-start;
		flex-basis: content;
		height: 100%;
		* { text-decoration: none; }
		.selected {
			border: 2px solid white;
		}
		a.item, div.item, div.dropdown {
			display: flex;
			height: 100%;
			align-items: center;
			background-image: linear-gradient(to bottom, @main, @dark-1 10%, @main);
			background-size: cover;
			border: 2px solid @dark-1;
			box-sizing: border-box;
			color: white;
			align-content: center;
			&:hover {
				background-image: linear-gradient(to bottom, @light-3, @light-4);
				color: black;
				border: 2px solid @light-2;
			}
		}
		a.item, div.item {
			padding: @horizontal-padding @vertical-padding;
			cursor: pointer;
		}
		div.dropdown {
			padding: @horizontal-padding @dropdown-padding @horizontal-padding @vertical-padding;
			cursor: default;
		}
		> div.dropdown {
			position: relative;

			> span {
				&::after {
					content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' \
						fill='white' viewBox='0 0 24 24'%3E%3Cpath d='M5.3 9.3a1 1 0 0 1 1.4 0l5.3 5.29 5.3-5.3a1 1 0 11 \
						1.4 1.42l-6 6a1 1 0 0 1-1.4 0l-6-6a1 1 0 0 1 0-1.42Z'/%3E%3C/svg%3E");
					position: absolute;
					transform: translate(2px, 4px);
				}
			}
			> div {
				display: none;
				position: absolute;
				top: calc(100% + 2px);
				left: -2px;

				flex-direction: column;
				min-width: max-content;

				div.dropdown {
					position: relative;

					> span {
						&::after {
							content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' \
								fill='white' viewBox='0 0 24 24'%3E%3Cpath d='M5.3 9.3a1 1 0 0 1 1.4 0l5.3 5.29 5.3-5.3a1 1 0 11 \
								1.4 1.42l-6 6a1 1 0 0 1-1.4 0l-6-6a1 1 0 0 1 0-1.42Z'/%3E%3C/svg%3E");
							position: absolute;
							transform: rotate(270deg);
							right: 0;
						}
					}

					> div {
						display: none;
						position: absolute;
						top: -2px;
						left: calc(100% + 2px);

						flex-direction: column;
						min-width: max-content;
					}

					&:hover {
						> span::after {
							filter: brightness(0%);
						}
						> div {
							display: flex;
						}
					}
				}
			}

			&:hover {
				> span::after {
					filter: brightness(4%);
				}
				> div {
					display: flex;
				}
			}
		}
	}
}

#grid {
	max-width: 1000px;
	margin: auto;
	display: grid;
	grid-template-areas:
		"music music music"
		"banner banner banner"
		"welcome welcome status"
		"identity zoologist zoologist"
		"todo todo todo"
		"pallete pallete pallete";
	grid-template-columns: 4fr 1fr 4fr;
	grid-gap: 10px;

	#music { grid-area: music }
	#banner { grid-area: banner }
	#welcome { grid-area: welcome }
	#status { grid-area: status }
	#identity { grid-area: identity }
	#zoologist { grid-area: zoologist }
	#todo { grid-area: todo }
	#pallete { grid-area: pallete }

	div.box {
		z-index: 1;
		padding: 8px 16px;
		position: relative;
		background-image: linear-gradient(to bottom right, @dark-6, 70%, @dark-2);
		background-size: cover;
		background-attachment: fixed;

		border: solid 3px @main;

		&::before {
			content: attr(data-label);
			text-transform: uppercase;

			z-index: 0;
			position: absolute;
			top: 0; left: 0;

			padding: 0 3px;
			font-size: small;

			background-color: @main;
			color: white;
			font-weight: bolder;

			transform: translateY(calc(0px - 100% / 2)) scaleY(0);
			transition: transform 100ms ease-out;
		}
		&:hover::before {
			transform: none;
		}
	}

	/*** MUSIC PLAYER ***/
	#music {
		padding: 0;
		display: grid;
		grid-auto-flow: row;
		> div.content {
			padding: 3px;
			min-height: fit-content;
			display: grid;
			grid-gap: 8px;
			grid-template-areas:
				"info controls"
				"info ."
				"duration duration";

			div.info { grid-area: info; }
			div.controls { grid-area: controls; }
			div.duration { grid-area: duration; }

			div.info {
				margin: 8px 24px;
				a.title {
					font-size: 32px;
					--color: white;
					color: var(--color);
				}
				a.artist {
					margin-left: 24px;
					font-size: 24px;
					--color: @light-3;
					color: var(--color);
				}
				span.context {
					display: none;
					margin-left: 32px;
					font-size: 16px;
					--color: @light-3;
					color: var(--color);
					> a {
						display: inline;
						color: var(--color);
						&:hover {
							background-color: white;
							color: black;
						}
						&:active {
							background-color: transparent;
							color: var(--color);
						}
					}
				}
				a {
					display: block;
					text-decoration: none;
					max-width: fit-content;
					&:hover {
						background-color: white;
						color: black;
					}
					&:active {
						background-color: transparent;
						color: var(--color);
					}
				}
			}

			div.controls {
				display: grid;
				position: relative;
				min-width: fit-content;
				flex-direction: column;
				grid-gap: 3px;

				div.play-pause, div.prev, div.next{
					background-image: linear-gradient(to bottom, @main, @dark-1 10%, @main);
					border: 2px solid @dark-1;
					box-sizing: border-box;
					display: flex;
					align-items: center;
					text-align: center;
					color: white;
					padding: 4px;
					cursor: pointer;

					&:hover {
						border-color: @light-1;
						color: white;
					}

					&:active {
						background-image: linear-gradient(to bottom, @light-3, @light-4);
						color: black;
						border-color: @light-2;
					}

					> div.codicon {
						display: inline-block;
					}

					&.paused {
						svg.lucide-play { display: block; }
						svg.lucide-pause { display: none; }
					}
					&.playing {
						svg.lucide-play { display: none; }
						svg.lucide-pause { display: block; }
					}
				}

				div.media, div.link {
					display: flex;
					flex-direction: row-reverse;
					align-content: flex-end;
					gap: 3px;

					div.next-prev {
						display: flex;
						flex-direction: row;
					}
				}
			}

			div.duration {
				display: grid;
				grid-template-areas:
					"left right"
					"scrubber scrubber";
				div.left { grid-area: left; }
				div.right { grid-area: right; }
				div.progress { grid-area: scrubber; }

				div.left, div.right {
					font-family: Tunacan, Atari-vector;
					font-size: 18px;
					display: flex;
					color: @light-1;
					
					> span {
						height: min-content;
					}
				}
				div.left { justify-content: flex-start; }
				div.right { justify-content: flex-end; }
			}
		}
				
		div.progress {
			--color: @main;
			border-top: 3px solid var(--color);
			box-sizing: border-box;

			> div {
				background-color: var(--color);
				height: 6px;
				transition: width 100ms ease;
				width: 0%;
			}
		}
	}
	
	/*** BANNER ***/
	#banner {
		position: relative;
		display: grid;
		grid-auto-rows: min-content max-content min-content;
		padding: 3px;

		&[data-preview="true"] {
			div.line {
				text-transform: uppercase;
				padding: 3px 6px;
			}
		}

		&[data-preview="false"] {
			div.line {
				width: 50%;
				height: 3px;
				background-color: @light-3;
				border-radius: calc($height / 2);
			}

			div.expand {
				display: none;
			}
		}

		div.expand {
			color: @light-3;
			position: absolute;
			bottom: 0; right: 0;
			width: 24px; height: 24px;
			display: block;

			svg {
				position: absolute;
				bottom: 0; right: 0;
			}
		}

		div.content {
			padding: 16px 32px 8px;
		}

		div.close span {
			user-select: none;
			cursor: pointer;
			text-transform: uppercase;
			float: right;
			padding: 0 5px;
			background-color: @main;

			&:hover {
				background-color: white;
				color: @dark-4;
			}
		}

		&.open {
			padding: 3px;
			div.content, div.close {
				display: block;
			}
			div.line {
				display: none;
			}
			div.expand {
				display: none;
			}

			transition: height 250ms ease-in-out;
		}
		&.closed {
			padding: 6px;
			cursor: pointer;
			div.content, div.close {
				display: none;
			}
			div.line {
				display: block;
			}
		}
	}

	/*** WELCOME ***/
	#welcome {
		position: relative;
		div.pfp {
			width: 64px; height: 64px;
			background-size: cover;

			position: absolute;
			top: 3px; right: 3px;

			border: 3px solid @main;

			&:hover {
				border-color: white;
			}
			&:active {
				border-color: @dark-2;
			}
		}
		span.haio {
			font-size: 64px;
			font-weight: bold;
			margin: 0 0 -10px 0;
			padding-left: 0;
			white-space: collapse;
			display: flex;
			span {
				animation: haio 2s cubic-bezier(0.445, 0.050, 0.550, 0.950) infinite;
			}
		}
	}

	/*** STATUS ***/
	#status {
		display: block;
		
		& > div {
			display: grid;
			grid-auto-rows: min-content max-content min-content;
			padding: 3px;
			& > div.feeling span {
					text-transform: uppercase;
					max-width: fit-content;
					background-color: @main;
					padding: 0 5px;
			}
			& > div.last-updated span {
				text-transform: uppercase;
				max-width: fit-content;
				background-color: @main;
				padding: 0 5px;
				float: right;
			}

			& > div.content {
				padding: 8px 16px;
				
				& img {
					max-width: 100%;
				}
			}
		}
		&::before { // BUBBLE TAIL
			@size: 6px;
			content: "";
			position: relative;
			display: block;
			top: @size;
			left: 0;
			right: unset;
			width: 0;
			height: 0;
			margin: 0 0 -@size -@size;
			border-style: solid;
			border-width: 0 0 @size @size;
			border-color: transparent transparent @main transparent;
		}
	}

	/*** ZOOLOGIST ***/
	#zoologist {
	}
}

#pallete {
	display: flex;
	width: 100%;
	height: 50px;
	flex-flow: row;
	align-content: stretch;

	div {
		flex: 1;
		//display: flex;
		//justify-content: center;
		//align-items: center;
		font-family: Topaz;
		font-size: 16px;
		cursor: pointer;
		&:hover {
			font-size: 32px;
			flex: 1.2;
		}
	}
	div:nth-child(1),
	div:nth-child(2),
	div:nth-child(3),
	div:nth-child(4),
	div:nth-child(5),
	div:nth-child(6),
	div:nth-child(7)
		{ color: white; }
	
	div:nth-child(9),
	div:nth-child(10),
	div:nth-child(11),
	div:nth-child(12),
	div:nth-child(13)
		{ color: black; }
}

@keyframes haio {
	0% { transform: translateY(0) }
	50% { transform: translateY(10px) }
	100% { transform: translateY(0) }
}

@media (max-width: 700px) {
	#grid {
		grid-template-areas:
			"music" "banner" "welcome" "status" "identity" "zoologist" "todo" "pallete";
		grid-template-columns: 1fr;

		#status {
			&::before {
				@size: 6px;
				top: -@size;
				left: calc(@size * 2);
				margin: 0 0 -@size -@size;
				border-width: 0 0 @size @size;
				border-color: transparent transparent @main transparent;
			}
		}
	}
}
